{% include 'index.html' %}
<div class="container mt-4">
    <h2>Impostazioni</h2>
    {% for i in range(1, 11) %}
        <label>Slider {{ i }}: <span id="val_slider{{ i }}">{{ variables["slider" ~ i] }}</span></label>
        <input type="range" id="slider{{ i }}" min="0" max="100" value="{{ variables["slider" ~ i] }}" class="form-range">
    {% endfor %}
    <br>
    <label>Testo 1:</label>
    <input type="text" id="text1" value="{{ variables.text1 }}" class="form-control">
    <label>Testo 2:</label>
    <input type="text" id="text2" value="{{ variables.text2 }}" class="form-control">
</div>
