{% include 'index.html' %}
<div class="container mt-4">
    <h2>Impostazioni</h2>

    <div id="sliders"></div>

    <br>

    <label for="text1">Testo 1:</label>
    <input type="text" id="text1" class="form-control">

    <label for="text2">Testo 2:</label>
    <input type="text" id="text2" class="form-control">

    <script>
        // Funzione per creare gli slider dinamicamente
        async function createSliders() {
            const slidersContainer = document.getElementById('sliders');
            slidersContainer.innerHTML = ''; // Svuota il contenitore prima di aggiungere nuovi elementi
            
            try {
                const response = await fetch('get_settings');
                const data = await response.json(); // Non serve JSON.parse()

                console.log("Risposta ricevuta dal server:", data); // Debug

                if (!data.variables || typeof data.variables !== 'object') {
                    throw new Error("Formato JSON non valido");
                }

                Object.values(data.variables).forEach((variable, index) => {
                    const sliderDiv = document.createElement('div');
                    sliderDiv.innerHTML = `
                        <h4 style="text-align: left;">${variable.name}</h4>
                        <input type="range" id="slider${index}" min="${variable.minValue}" max="${variable.maxValue}" value="${variable.value}" step="0.01" class="form-range" style="width: 240px;">
                        <span id="val_slider${index}">${variable.value}</div>
                        <br>
                    `;


                    // <h4 style="text-align: left;">${variable.name}</h4>
                    //     <input type="range" id="slider${index}" min="${variable.minValue}" max="${variable.maxValue}" value="${variable.value}" step="0.01" class="form-range" style="width: 140px;">
                    //     <div style="text-align: center;"><span id="val_slider${index}">${variable.value}</span></div>
                    //     <br>

                    slidersContainer.appendChild(sliderDiv);

                    const slider = document.getElementById(`slider${index}`);
                    const sliderValue = document.getElementById(`val_slider${index}`);
                    
                    slider.addEventListener('input', () => {
                        sliderValue.textContent = slider.value;
                    });
                });
            } catch (error) {
                console.error('Errore durante il recupero delle impostazioni:', error);
            }
        }

        // Crea gli slider al caricamento della pagina
        window.onload = createSliders;
    </script>
</div>